@model IEnumerable<DataObjects.Piece>


<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Refresh Complete", "Index", new { complete = true })
</p>
<p>
    @Html.ActionLink("Refresh Incomplete", "Index", new { complete = false })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PieceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompensatedStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PieceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompensatedStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PieceID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PieceID }) |
            @Html.ActionLink("Toggle Complete", "Delete", new { id = item.PieceID })
        </td>
    </tr>
}

</table>
